kotitehtava1/build/
kotitehtava1/*.user
kotiteht2/build/
kotiteht2/*.user
kotitehtava3/build/
kotitehtava3/*.user
kotitehtava4/build/
kotitehtava4/*.user
kotitehtava5/build/
kotitehtava5/*.user
kotitehtava6/build/
kotitehtava6/*.user
kotitehtava6_t2/build/
kotitehtava6_t2/*.user